SEPOLIA_RPC_URL="Your_Sepolia_RPC_URL"
OPERATOR_PRIVATE_KEY="Your_Private_Key"
NEUROLEDGER_CONTRACT_ADDRESS="0x593Ae027fF7037Bb7a1B1B951F9E6f1Da25563FA"
GEMINI_API_KEY="Your_Gemini_API_Key"
PINATA_JWT="Your_Pinata_JWT"
FRONTEND_ORIGIN="http://localhost:5173"
