CHAIN_ID=11155111
SEPOLIA_URL=https://ethereum-sepolia-rpc.publicnode.com
PRIVATE_KEY=Your_Private_Key
NEUROLEDGER_CONTRACT_ADDRESS=Deployed_Contract_Address
PATIENT_WALLET_ADDRESS=Your_Patient_Wallet_Address
